@{
    ViewBag.Title = "Contact";
}

<!-- start page title -->
<section class="p-0">
    <div class="container-fluid position-relative">
        <div class="row">
            <div class="swiper-container white-move full-screen md-h-650px sm-h-500px">
                <div class="swiper-slide cover-background" style="background-image:url('/images/ExcavationSite.jpg');">
                    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
                    <div class="container h-100">
                        <div class="row justify-content-center h-100">
                            <div class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center text-center h-100">
                                <span class="alt-font font-weight-500 text-extra-medium letter-spacing-2px text-white text-uppercase d-block margin-35px-bottom sm-margin-15px-bottom">BYU's Egypt Excavation Project Team</span>
                                <h1 class="alt-font font-weight-600 title-medium text-white text-uppercase letter-spacing-minus-4px margin-45px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-large sm-no-text-shadow xs-w-90 mx-auto">Contact Us</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center">
            <!-- start fancy text box item -->
            <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-hide-show-hover bg-white border-radius-6px overflow-hidden box-shadow-large box-shadow-extra-large-hover">
                    <div class="feature-box-move-bottom-top padding-5-rem-lr padding-15px-tb lg-padding-2-half-rem-lr md-padding-4-half-rem-lr">
                        <div class="feature-box-icon">
                            <i class="line-icon-Mail-Read d-block icon-medium text-fast-blue margin-25px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="text-extra-dark-gray text-extra-medium d-block alt-font font-weight-500">Send us an email</span>
                        </div>
                        <div class="move-bottom-top margin-10px-top last-paragraph-no-margin">
                            <a href="#project" class="btn btn-medium btn-outline-dark-gray section-link"><span class="text-black-btn">Send Email</span></a>
                        </div>
                    </div>
                    <div class="feature-box-overlay"></div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-sm-8 md-margin-30px-bottom xs-margin-15px-bottom">
                <div class="feature-box feature-box-hide-show-hover bg-white border-radius-6px overflow-hidden box-shadow-large box-shadow-extra-large-hover">
                    <div class="feature-box-move-bottom-top padding-5-rem-lr padding-15px-tb lg-padding-2-half-rem-lr md-padding-4-half-rem-lr">
                        <div class="feature-box-icon">
                            <i class="line-icon-Phone-2 d-block icon-medium text-fast-blue margin-25px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="text-extra-dark-gray text-extra-medium d-block alt-font font-weight-500">Give us a call</span>
                        </div>
                        <div class="move-bottom-top margin-10px-top last-paragraph-no-margin">
                            <a href="tel:+18014224636" class="btn btn-medium btn-outline-dark-gray section-link"><span class="text-black-btn">+1 (801) 422-4636</span></a>
                        </div>
                    </div>
                    <div class="feature-box-overlay"></div>
                </div>
            </div>
            <!-- end fancy text box item -->
            <!-- start fancy text box item -->
            <div class="col col-sm-8">
                <div class="feature-box feature-box-hide-show-hover bg-white border-radius-6px overflow-hidden box-shadow-large box-shadow-extra-large-hover">
                    <div class="feature-box-move-bottom-top padding-5-rem-lr padding-15px-tb lg-padding-2-half-rem-lr md-padding-4-half-rem-lr">
                        <div class="feature-box-icon">
                            <i class="line-icon-Approved-Window d-block icon-medium text-fast-blue margin-25px-bottom"></i>
                        </div>
                        <div class="feature-box-content last-paragraph-no-margin">
                            <span class="text-extra-dark-gray text-extra-medium d-block alt-font font-weight-500">Ready to work with us?</span>
                        </div>
                        <div class="move-bottom-top margin-10px-top last-paragraph-no-margin">
                            <a href="#project" class="btn btn-medium btn-outline-dark-gray section-link"><span class="text-black-btn">Send message</span></a>
                        </div>
                    </div>
                    <div class="feature-box-overlay"></div>
                </div>
            </div>
            <!-- end fancy text box item -->
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-6 col-lg-7 text-center margin-4-half-rem-bottom md-margin-3-rem-bottom">
                        <span class="alt-font letter-spacing-minus-1-half text-extra-medium d-block margin-5px-bottom" id="project">Send us a message and we'll get back to you within 24 hours</span>
                        <h4 class="alt-font font-weight-600 text-black">Contact us today</h4>
                    </div>
                    <div class="col-12">
                        <!-- start contact form -->
                        <form action="email-templates/contact-form.php" method="post">
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col margin-4-rem-bottom sm-margin-25px-bottom">
                                    <input class="medium-input bg-white margin-25px-bottom required" type="text" name="name" placeholder="Your name">
                                    <input class="medium-input bg-white margin-25px-bottom required" type="email" name="email" placeholder="Your email address">
                                    <input class="medium-input bg-white mb-0" type="tel" name="phone" placeholder="Your phone number">
                                </div>
                                <div class="col margin-4-rem-bottom sm-margin-10px-bottom">
                                    <textarea class="medium-textarea h-200px bg-white" name="comment" placeholder="Your message"></textarea>
                                </div>
                                <div class="col text-left sm-margin-30px-bottom">
                                    <input type="checkbox" name="terms_condition" id="terms_condition" value="1" class="terms-condition d-inline-block align-top w-auto mb-0 margin-5px-top margin-10px-right">
                                    <label for="terms_condition" class="text-small d-inline-block align-top w-85">I accept the terms & conditions and I understand that my data will be hold securely in accordance with the privacy policy.</label>
                                </div>
                                <div class="col text-center text-md-right">
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-medium btn-dark-gray" type="submit">Send Message</button>
                                </div>
                            </div>
                            <div class="form-results d-none"></div>
                        </form>
                        <!-- end contact form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="p-0 wow animate__fadeIn">
    <div class="container-fluid">
        <div class="row">
            <div class="col h-600px p-0 md-h-450px xs-h-300px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.0759451084205!2d-111.65150428464933!3d40.251843479384675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d90bc4aa0b68d%3A0xbf3eb3a3f30fdc4c!2sBrigham%20Young%20University!5e0!3m2!1sen!2sus!4v1618253570365!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="wow animate__fadeIn">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="bg-medium-dark-gray"></div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-xl-8 col-md-9 col-sm-10 text-center text-md-left sm-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.1s">
                        <h6 class="alt-font text-black font-weight-500 mb-0 md-w-90 sm-w-100">Want to learn more about <strong>Brigham Young University</strong>?</h6>
                    </div>
                    <div class="col-12 col-xl-4 col-md-3 text-center text-md-right wow animate__fadeIn" data-wow-delay="0.2s">
                        <a href="http://www.byu.edu" class="btn btn-medium btn-dark-gray" target="__blank">Visit Website<span class="bg-dark-gray"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
