@{
    ViewBag.Title = "Mummy";
}

@model MummyViewModel

<!-- start page title -->
<section class="p-0">
    <div class="container-fluid position-relative">
        <div class="row">
            <div class="swiper-container white-move full-screen md-h-650px sm-h-500px">
                <div class="swiper-slide cover-background" style="background-image:url('/images/mummy4.jpg');">
                    <div class="opacity-extra-medium bg-dark-slate-blue"></div>
                    <div class="container h-100">
                        <div class="row justify-content-center h-100">
                            <div class="col-12 col-xl-6 col-sm-7 d-flex flex-column justify-content-center text-center h-100">
                                <span class="alt-font font-weight-500 text-extra-medium letter-spacing-2px text-white text-uppercase d-block margin-35px-bottom sm-margin-15px-bottom">Now introducing...</span>
                                <h1 class="alt-font font-weight-600 title-medium text-white text-uppercase letter-spacing-minus-4px margin-45px-bottom sm-letter-spacing-minus-1px sm-margin-30px-bottom text-shadow-large sm-no-text-shadow xs-w-90 mx-auto">Fred the Mummy</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="big-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-xl-6 col-md-5 sm-margin-30px-bottom wow animate__fadeInLeft"><img src="/images/mummy4.jpg" width="800" alt="" /></div>
            <div class="col-12 col-xl-5 col-lg-6 offset-lg-1 col-md-7">
                <h5 class="alt-font text-extra-dark-gray">One of our <span class="font-weight-600">finest mummies</span></h5>
                <p class="margin-4-half-rem-bottom">Named after the Fred Farquaad, Fred the Mummy was unearthed in 2012 in an Egyptian sand cemetary known as Fag el-Gamous. His bones were well preserved and are continually being sampled and inspected.</p>
                <div class="row">
                    <div class="col-12 col-sm text-center xs-margin-30px-bottom wow animate__fadeIn">
                        <i class="fa fa-child icon-medium text-brown margin-20px-bottom sm-no-margin"></i>
                        <span class="alt-font font-weight-500 text-small line-height-18px text-uppercase d-block">@foreach (var x in Model.Remains) { @x.EstimateAge }<br>at death</span>
                    </div>
                    <div class="col-12 col-sm offset-lg-1 text-center xs-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                        <i class="fas fa-tooth icon-medium text-brown margin-20px-bottom sm-no-margin"></i>
                        <span class="alt-font font-weight-500 text-small line-height-18px text-uppercase d-block">4 teeth</span>
                    </div>
                    <div class="col-12 col-sm offset-lg-1 text-center xs-margin-30px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                        <i class="fas fa-ruler icon-medium text-brown margin-20px-bottom sm-no-margin"></i>
                        <span class="alt-font font-weight-500 text-small line-height-18px text-uppercase d-block">@foreach (var x in Model.Remains)
                        {@x.BoneLength} meters<br>tall</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="py-0 padding-eight-lr xl-padding-five-lr lg-padding-two-lr xs-no-padding-lr">
    <div class="container-fluid">
        <div class="row">
            <div class="col px-md-0">
                <ul class="portfolio-overlay portfolio-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>
                    <!-- start lightbox gallery item -->
                    <!-- all images are 800 x 989 -->
                    <li class="grid-item wow animate__fadeInUp">
                        <a href="/images/site.jpg" title="Fag el-Gamous" data-group="lightbox-gallery" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-brown">
                                    <img src="/images/site.jpg" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeInUp" data-wow-delay="0.2s">
                        <a href="/images/box.jpg" title="Artifacts found with Fred" data-group="lightbox-gallery" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-brown">
                                    <img src="/images/box.jpg" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeInUp" data-wow-delay="0.4s">
                        <a href="/images/hills.jpg" title="The rolling cemetary hills of Fred's location" data-group="lightbox-gallery" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-brown">
                                    <img src="/images/hills.jpg" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                    <!-- start lightbox gallery item -->
                    <li class="grid-item wow animate__fadeInUp" data-wow-delay="0.6s">
                        <a href="/images/mummy6.jpg" title="Fred's cousin, George" data-group="lightbox-gallery" class="lightbox-group-gallery-item">
                            <div class="portfolio-box">
                                <div class="portfolio-image bg-brown">
                                    <img src="/images/mummy6.jpg" alt="" />
                                    <div class="portfolio-hover justify-content-end d-flex flex-column padding-50px-tb lg-padding-30px-tb xs-padding-15px-tb">
                                        <i class="feather icon-feather-zoom-in portfolio-plus-icon font-weight-300 text-white absolute-middle-center icon-small move-top-bottom"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <!-- end lightbox gallery item -->
                </ul>
            </div>
        </div>
    </div><br><br><br><br><br><br>
</section>
<!-- end section -->
<!-- start section -->
<section class="overflow-visible border-top border-color-medium-gray bg-light-gray">
    <div class="container">
        <div class="row margin-5-half-rem-bottom align-items-center">
            <div class="col-12 col-lg-6 col-md-7 text-center text-md-left sm-margin-10px-bottom wow animate__fadeIn" data-wow-delay="0.1s">
                <h5 class="alt-font font-weight-600 text-extra-dark-gray letter-spacing-minus-1px text-uppercase margin-5px-bottom">Let's see the Stats</h5>
                <p class="m-0 d-block">Our research team has collected enough data to last you years. See the stats!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0 wow animate__fadeIn" data-wow-delay="0.4s">
                <div>
                    <div class="swiper-wrapper">
                        <!-- start info banner slider item -->
                        <div class="swiper-slide box-shadow-small">
                            <div class="position-relative bg-white padding-3-rem-all md-padding-4-rem-lr text-large">
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Location:</span> @foreach (var x in Model.Remains)
                                {@x.BurialId}</p>
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Gender:</span> @foreach (var x in Model.Remains)
                                {@x.GenderBodyCol}</p>
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Age at death:</span> 30</p>
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Length:</span> @foreach (var x in Model.Remains)
                                {@x.BoneLength} m</p>
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Teeth:</span> 4</p>
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Burial depth:</span> @foreach (var x in Model.Burials)
                                {@x.DepthRemains} m</p>
                                <p><span class="alt-font font-weight-500 text-extra-dark-gray">Hair color:</span>@foreach (var x in Model.Remains)
                                {@x.HairColor}</p>
                            </div>
                        </div>
                        <!-- end info banner slider item -->
                    </div>
                </div>
            </div>
        </div><br><br><br>
    </div>
</section>
<!-- end section -->
