@page
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Success! " + Model.bioSample.BiosampleId + " added to " + Model.bioSample.BurialId + ".";
}


@model ListModel


<p>Success! @Model.bioSample.BiosampleId added to @Model.bioSample.BurialId .</p>



@functions {
    public class ListModel : ResearchPageModel
    {
        public UserManager<IdentityUser> UserManager;
        public ListModel(UserManager<IdentityUser> userManager)
        {
            UserManager = userManager;
        }

        public BiologicalSample bioSample { get; set; }
    }
}